<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/> 
    <httpRuntime /> 
    <compilation debug="true" /> 
  </system.web> 
  <system.serviceModel> 
    <services> 
      <service behaviorConfiguration="BundlesBehavior" name="BroadbandChoices.Bundles"> 
        <endpoint address="json" binding="webHttpBinding"
           behaviorConfiguration="BundlesEndpointBehavior" 
           contract="BroadbandChoices.IBundles" 
           name="RESTEP" /> 
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> 
      </service> 
    </services> 
    <behaviors> 
      <serviceBehaviors> 
        <behavior name="BundlesBehavior"> 
          <serviceMetadata httpGetEnabled="true" /> 
          <serviceDebug includeExceptionDetailInFaults="true" /> 
        </behavior> 
      </serviceBehaviors> 
      <endpointBehaviors> 
        <behavior name="BundlesEndpointBehavior"> 
          <webHttp /> 
        </behavior> 
      </endpointBehaviors> 
    </behaviors> 
  </system.serviceModel> 
</configuration> 

