$nav-bg-color: rgba(0,0,0,.75);
$nav-link-color: rgba(255,255,255,.5);
$nav-link-hover-color: white;

$slogan-header-color: white;
$slogan-header-bg-color: rgba(0,0,0,.2);

$info-color: white;

$provider-slogan-bg-color: adjust-saturation(#910, -50);
$costs-slogan-bg-color: adjust-saturation(#405, -50);
$broadband-slogan-bg-color: adjust-saturation(#018, -50);
$phone-slogan-bg-color: adjust-saturation(#071, -50);
