<div class="broadband slogan" id="broadband">
  <h2 ng-class="broadband.tilt">Truly unlimited wifi</h2>
</div>

<div class="broadband info" id="broadband-info">
  <div class="left">
    <div class="speeds">
      <h2>Speeds</h2>
      <div class="copy">Up to {{broadband.info.downloadSpeedDisplay}}</div>
    </div>
  </div>
  <div class="right">
    <div class="usage">
      <h2>Usage Details</h2>
      <div class="copy">{{broadband.info.downloadLimitDisplay}} Downloads</div>
    </div>
  </div>
</div>
